@{
    ViewBag.Title = "About";
}


<div class="jumbotron text-center">
    <h1 class="display-1">About the Creators</h1>
</div>

<div class="container">
    <!-- Julia-->
    <div class="media border p-3">
        <img src="~/Content/images/about/Julia.jpg" alt="Jules" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>Jules</h4>
            <p>
                Julia lives near the south side base camp of Mount Everest in Nepal.
                She excels at creating miniature replicas of medieval torture devices.
                When she isn't collecting coins, she is busy raising a heard of a rare breed
                of alpacas that are exclusively for the the British royal family and their closest friends.
            </p>
        </div>
    </div>

    <!--Bails-->
    <div class="media border p-3">
        <img src="~/Content/images/about/bails.jpg" alt="Bails" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>Bails</h4>
            <p> Bailee is the last known survior of her family. Orginally from alaska, she has had to be in the 
                wilderness for days at a time. She came down through canada on a moose. Collecting coins was her only
                to make purchases at stores to survive. If it wasn't for coin collecting, she would have died.</p>
        </div>
    </div>
    <!--Joe-->
    <div class="media border p-3">
        <img src="~/Content/images/about/joe.jpg" alt="Joe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>Joe</h4>
            <p>
                Thanks to Joe's sustained lobbying efforts, the President has recently signed into law S102.3 allowing for 
                large coin collections to be sectioned under current laws exempting retirement savings from tax penalties.
                Joe has refused to comment on the implications of this bill in regards to black markets and money laundering.
            </p>
        </div>
    </div>
    <!--Dan-->
    <div class="media border p-3">
        <img src="~/Content/images/about/" alt="Dan" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>Dan</h4>
            <p>Dan is from the Eau Claire area and has lived here all of his life. Dan is in this program because Technology has always been fascinating to him and he is always looking to learn more about it. 
            Software has always seemed interesting to mDan, while he doesn't have much experience with Software, Dan is looking to learn all that he can and make a career of it. Dan thinks creating and designing Software would be an awesome career field and opens up an endless amount of opportunities.
            Dan usually spend his free time with his dog at home or playing video games. Dan enjoys going out with friends and family, and tends to be a 'Social Butterfly', enjoying any conversation with almost anyone.</p>
        </div>
    </div>
    <!--Anthony-->
    <div class="media border p-3">
        <img src="~/Content/images/about/Anthony.jpg" alt="Anthony" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>Anthony</h4>
            <p>Anthony was born in Canada, but grew up to become the least Canadian person ever. When it comes to the Merc with a Mouth, with great power comes no responsibility.</p>
        </div>
    </div>
</div>