
@{
    ViewBag.Title = "CoinStorage";
}

<h2>Coin Storage</h2>
<!--Maybe we can add some pics of the different options?-->
<div class="container">
    <div class="row">
        <h3>Options for storing your coins</h3>
        <p>
            To avoid smudging the clean coins, you should handle them by holding only
            the edges. There are several options available to coin collectors for means
            of storing coins.
        </p>
        <p>
            The least expensive option is using small paper envelopes. The drawback to paper
            envelopes is the collector will need to take the coin out to view it.
        </p>
        <p>
            Plastic envelopes, commonly called “flips”, cost more than paper envelopes,
            but they allow for aperson to view their coins without taking them out.
            <div class="mx-auto">
            <a href="https://www.amazon.com/dp/B0776FJNLH/ref=cm_sw_em_r_mt_dp_U_29cECb7YF8RSA" target="_blank"><img src="../../content/images/flips_holder.jpg" class="img-thumbnail" alt="Flips Holder" width="304" height="236"></a>
        </p>
    </div>
        Some full sets or individual coins come with special packaging when they are
        purchased; these will help keep the coins protected and in their best condition.

        Hard plastic packages called “slabs” are another option for coin storage but
        are more expensive than paper or softer plastic alternatives.
        </p>
    </div>
</div>

