@{
    ViewBag.Title = "CoinCare";
}

<div class="jumbotron text-center">
    <h1>Coin Care</h1>
</div>

<div class="container">
    <div class="row">
        <h3>Keeping your coins clean</h3>
        <p>
            To keep your coin collection the optimal condition, clean and store
            your coins appropriately to avoid damaging the coin’s surfaces. There
            are many ways to care for your coins, here are some of the basics.
        </p>
    </div>
    <div class="row">
        <h3>The cleaning process</h3>
        <p>
            If your coin was once in circulation, you should clean it before storing it;
            however, if the coin was uncirculated you should not clean the coin.
            Cleaning a coin correctly requires a gentle touch, always start the process of
            cleaning a coin by first washing your hands!
            To prepare for cleaning your coin/s you should gather the following:
            <ul>
                <li>2 small plastic containers</li>
                <li>distilled water</li>
                <li>a mild detergent</li>
                <li>a soft towel</li>
                <li>a flat surface that is out of the way/will not be disturbed</li>
            </ul>
           </p>
            <p>
                After washing your hands, fill one container with warm water and add a small
                amount of the mild detergent. In your second container add the distilled water.
                Lay the soft towel on a flat surface where it will not be disturbed as the coins
                dry.
            </p>
            <p>
                Handling one coin at a time, place the coin into the container with the soapy
                water and gently rub both sides of the coin with your fingertips.
                Rinse the coins under hot running water and then place into the container with
                the distilled water. Swirl the container to remove any chlorinated tap water.
                Place the coin on the soft towel and allow to air dry.
            </p>
    </div>
</div>

