
@{
    ViewBag.Title = "CoinStorage";
}

<h2>Coin Storage</h2>
<!--Maybe we can add some pics of the different options?-->
<div class="MainContent">
    <h3>Options for storing your coins</h3>
    <p>
        To avoid smudging the clean coins, you should handle them by holding only 
        the edges. There are several options available to coin collectors for means 
        of storing coins. 
    <br />
        The least expensive option is using small paper envelopes. The drawback to paper 
        envelopes is the collector will need to take the coin out to view it.
    <br />
        Plastic envelopes, commonly called “flips”, are cost more than paper envelopes, 
        but they allow for a person to view their coins without taking them out.
    <br />
        Some full sets or individual coins come with special packaging when they are 
        purchased; these will help keep the coins protected and in their best condition.
    <br />
        Hard plastic packages called “slabs” are another option for coin storage but 
        are more expensive than paper or softer plastic alternatives.
    </p>
</div>

