@{
    ViewBag.Title = "FeaturedPage";
}

<!DOCTYPE html>
<html>
<head>
    <title>FeaturedPage</title>
</head>
<body>

    <h1>Roderick Farquhar:</h1>
    <p><i>This site was great!</i></p>

    <h2>Allen Sachairi:</h2>
    <p><i>Using this site has been a game changer.</i></p>

    <h1>Gregor Murdo:</h1>
    <p><i></i></p>

</body>
</html>

