@{
    ViewBag.Title = "FeaturedPage";
}

<div class="jumbotron text-center">
    <h1 class="display-1">Featured People</h1>
</div>

<div class="container">

    <blockquote class="blockquote">
        <p>This site was great!</p>
        <footer class="blockquote-footer">Roderick Farquhar</footer>

    </blockquote>
    <blockquote class="blockquote">
        <p>I couldn't have finished my collection without this site.</p>
        <footer class="blockquote-footer">Mario Lopez</footer>
    </blockquote>
    <blockquote class="blockquote">
        <p>Never going to use another site.</p>
        <footer class="blockquote-footer">Nate Nordby</footer>
    </blockquote>
    <blockquote class="blockquote">
        <p>This site is simple yet, useful. I would have never thought of doing a website that helps track your coin collection, but it has proven very beneficial to my life.</p>
        <footer class="blockquote-footer">Naomi Fretsa</footer>
    </blockquote>
    <blockquote class="blockquote">
        <p>Time for my second collection!</p>
        <footer class="blockquote-footer">Jordyn Stizor</footer>
    </blockquote>
    <blockquote class="blockquote">
        <p>My goodness, I was blasted away by this logo. It is just so darn wonderful! The people who made this are so talented. I hit a road block with my coin collection and now that I found this website, well golly, my collection is complete!</p>
        <footer class="blockquote-footer">Yvonne Helnten</footer>
    </blockquote>
</div>