@{
    ViewBag.Title = "FeaturedPage";
}

<div class="jumbotron text-center">
    <h1>Featured People</h1>
</div>

<div class="container">
    <h3>Roderick Farquhar:</h3>
    <p><i>This site was great!</i></p>

    <h3>Mario Lopez:</h3>
    <p><i>I couldn't have finished my collection without this site.</i></p>

    <h3>Nate Nordby:</h3>
    <p><i>Never going to use another site.</i></p>

    <h3>Naomi Fretsa:</h3>
    <p>
        <i>
            This site is simple yet, useful. I woul have never thought of doing a website that helps track <br />
            your coin collection, but it has proven very beneficial to my life.
        </i>
    </p>

    <h3>Jordyn Stizor:</h3>
    <p><i>Time for my second collection!</i></p>

    <h3>Yvonne Helnten:</h3>
    <p><i>My goodness, I was blasted away by this logo. It is just so darn wonderful! The people who made this are so talented <br />
    I hit a road block with my coin collection and now that I found this website, well golly, my collection is complete!</i></p>
</div>