
@{
    ViewBag.Title = "HelpfulLinks";
}

<h2>Helpful Links</h2>

<div class="MainContent">
    <p>
        Looking for some helpful links regarding your coin collection and
        other resources? Look no further!!
        <br />
        <br />
        <a href="https://www.smarterhobby.com/coin-collecting/">Smarter Hobbies</a>
        <br />
            This resource is full of suggestions for supplies to have for your coin
            collection, a history of coin collection, ways to find coins and information
            on how to determine coin value.
        <br />
        <br />
        <a href="https://www.money.org/clubs">American Numismatic Association</a>
        <br />
            If you are a serious collector and would like to find clubs local to you to
            talk with other collectors and view/purchase more coins, this website is a
            great place to look.
        <br />
        <br />
        <a href="https://www.thesprucecrafts.com/how-to-safely-store-your-coins-768295">The Spruce Crafts</a>
        <br />
            Here is another site with additional information on keeping your coin collection
            stored correctly to keep the condition and value uncompromised.
        <br />
        <br />
        <a href="https://www.facebook.com/pages/category/Just-For-Fun/Coin-collectors-437618296296281/">Coin Collectors - Facebook</a>
        <br />
            Facebook also has many groups for coin collectors to connect based off your 
            location or the type of coin you are interested in collecting.
    </p>
</div>
