
@{
    ViewBag.Title = "HelpfulLinks";
}
<div class="jumbotron">
    <h1 class="display-1 text-center">Helpful Links</h1>
</div>
<div class="container">
    <div class="row mb-lg-5">
        <p>
            Looking for some helpful links regarding your coin collection and
            other resources? Look no further!!
        </p>
    </div>
    <div class="row mb-lg-5">
        <p>
            <a href="https://www.smarterhobby.com/coin-collecting/" class="text-info" target="_blank"><h3>Smarter Hobbies</h3></a>

            This resource is full of suggestions for supplies to have for your coin
            collection, a history of coin collection, ways to find coins and information
            on how to determine coin value.
        </p>
    </div>
    <div class="row mb-lg-5">
        <p>
            <a href="https://www.money.org/clubs" class="text-info" target="_blank"><h3>American Numismatic Association</h3></a>

            If you are a serious collector and would like to find clubs local to you to
            talk with other collectors and view/purchase more coins, this website is a
            great place to look.
        </p>
    </div>
    <div class="row mb-lg-5">
        <p>
            <a href="https://www.thesprucecrafts.com/how-to-safely-store-your-coins-768295" class="text-info" target="_blank"><h3>The Spruce Crafts</h3></a>

            Here is another site with additional information on keeping your coin collection
            stored correctly to keep the condition and value uncompromised.
        </p>
    </div>
    <div class="row mb-lg-5">
        <p>
            <a href="https://www.facebook.com/pages/category/Just-For-Fun/Coin-collectors-437618296296281/" class="text-info" target="_blank"><h3>Coin Collectors - Facebook</h3></a>

            Facebook also has many groups for coin collectors to connect based off your
            location or the type of coin you are interested in collecting.
        </p>
    </div>
</div>
