
@{
    ViewBag.Title = "StateCoinProgramInfo";
}



<div class="container">
    <h2>State Coin Program Info</h2>
    <p>
        The state quarter project began in 1999 and when implemented
        planned to release coins honoring each state over a 10-year period.
        Each state’s coins were minted over a 10-week period and will not be
        produced again, making them collector’s items. The coins feature the
        same design on the “heads” side, George Washington’s profile, and all
        the same features as all quarters have. The “tails” side of each quarter
        have unique images for each state. Each year 5 state coins were produced.
    </p>
</div>

<div class="container">
    <p>
        <b>1999:</b>
        <ul>
            <li><img src="~/Content/images/de.jpg" alt="Deleware coin">Deleware</li>
            <li><img src="~/Content/images/pa.jpg" alt="Pennsylvania coin">Pennsylvania</li>
            <li><img src="~/Content/images/nj.jpg" alt="New Jersey coin">New Jersey</li>
            <li><img src="~/Content/images/ga.jpg" alt="Georgia coin">Georgia</li>
            <li><img src="~/Content/images/ct.jpg" alt="Connecticut coin">Connecticut</li>
        </ul>
        <br />
        <b>2000:</b>
        <ul>
            <li><img src="~/Content/images/ma.jpg" alt="Massachesetts coin">Massachesetts</li>
            <li><img src="~/Content/images/md.jpg" alt="Maryland coin">Maryland</li>
            <li><img src="~/Content/images/sc.jpg" alt="South Carolina coin">South Carolina</li>
            <li><img src="~/Content/images/nh.jpg" alt="New Hampshire coin">New Hampshire</li>
            <li><img src="~/Content/images/va.jpg" alt="Virginia coin">Virginia</li>
        </ul>
        <b>2001:</b>
        <br />
        <ul>
            <li><img src="~/Content/images/ny.jpg" alt="New York coin">New York</li>
            <li><img src="~/Content/images/nc.jpg" alt="North Carolina coin">North Carolina</li>
            <li><img src="~/Content/images/ri.jpg" alt="Rhode Island coin">Rhode Island</li>
            <li><img src="~/Content/images/vt.jpg" alt="Vermont coin">Vermont</li>
            <li><img src="~/Content/images/ky.jpg" alt="Kentucky coin">Kentucky</li>
        </ul>
        <br />
        <b>2002:</b>
        <ul>
            <li><img src="~/Content/images/tn.jpg" alt="Tennessee coin">Tennessee</li>
            <li><img src="~/Content/images/oh.jpg" alt="Ohio coin">Ohio</li>
            <li><img src="~/Content/images/la.jpg" alt="Louisiana coin">Louisiana</li>
            <li><img src="~/Content/images/in.jpg" alt="Indiana coin">Indiana</li>
            <li><img src="~/Content/images/ms.jpg" alt="Mississippi coin">Mississippi</li>
        </ul>
        <br />
        <b>2003:</b>
        <ul>
            <li><img src="~/Content/images/il.jpg" alt="Illinois coin">Illinois</li>
            <li><img src="~/Content/images/al.jpg" alt="Alabama coin">Alabama</li>
            <li><img src="~/Content/images/me.jpg" alt="Maine coin">Maine</li>
            <li><img src="~/Content/images/mo.jpg" alt="Missouri coin">Missouri</li>
            <li><img src="~/Content/images/ar.jpg" alt="Arkansas coin">Arkansas</li>
        </ul>
        <br />
        <b>2004:</b>
        <ul>
            <li><img src="~/Content/images/mi.jpg" alt="Michigan coin">Michigan</li>
            <li><img src="~/Content/images/fl.jpg" alt="Florida coin">Florida</li>
            <li><img src="~/Content/images/tx.jpg" alt="Texas coin">Texas</li>
            <li><img src="~/Content/images/ia.jpg" alt="Iowa coin">Iowa</li>
            <li><img src="~/Content/images/wi.jpg" alt="Wisconsin coin">Wisconsin</li>
        </ul>
        <br />
        <b>2005:</b>
        <ul>
            <li><img src="~/Content/images/ca.jpg" alt="California coin">California</li>
            <li><img src="~/Content/images/mn.jpg" alt="Minnesota coin">Minnesota</li>
            <li><img src="~/Content/images/or.jpg" alt="Oregon coin">Oregon</li>
            <li><img src="~/Content/images/ks.jpg" alt="Kansas coin">Kansas</li>
            <li><img src="~/Content/images/wv.jpg" alt="West Virginia coin">West Virginia</li>
        </ul>
        <br />
        <b>2006:</b>
        <ul>
            <li><img src="~/Content/images/nv.jpg" alt="Nevada coin">Nevada</li>
            <li><img src="~/Content/images/ne.jpg" alt="Nebraska coin">Nebraska</li>
            <li><img src="~/Content/images/co.jpg" alt="Colorado coin">Colorado</li>
            <li><img src="~/Content/images/nd.jpg" alt="North Dakota coin">North Dakota</li>
            <li><img src="~/Content/images/sd.jpg" alt="South Dakota coin">South Dakota</li>
        </ul>
        <br />
        <b>2007:</b>
        <ul>
            <li><img src="~/Content/images/mt.jpg" alt="Montana coin">Montana</li>
            <li><img src="~/Content/images/wa.jpg" alt="Washington coin">Washington</li>
            <li><img src="~/Content/images/id.jpg" alt="Idaho coin">Idaho</li>
            <li><img src="~/Content/images/wy.jpg" alt="Wyoming coin">Wyoming</li>
            <li><img src="~/Content/images/ut.jpg" alt="Utah coin">Utah</li>
        </ul>
        <br />
        <b>2008:</b>
        <ul>
            <li><img src="~/Content/images/ok.jpg" alt="Oklahoma coin">Oklahoma</li>
            <li><img src="~/Content/images/nm.jpg" alt="New Mexico coin">New Mexico</li>
            <li><img src="~/Content/images/az.jpg" alt="Arizona coin">Arizona</li>
            <li><img src="~/Content/images/al.jpg" alt="Alaska coin">Alaska</li>
            <li><img src="~/Content/images/hi.jpg" alt="Hawaii coin">Hawaii</li>
        </ul>
    </p>
</div>

