
@{
    ViewBag.Title = "StateCoinProgramInfo";
}



<div class="container">
    <h2>State Coin Program Info</h2>
    <p>
        The state quarter project began in 1999 and when implemented
        planned to release coins honoring each state over a 10-year period.
        Each state’s coins were minted over a 10-week period and will not be
        produced again, making them collector’s items. The coins feature the
        same design on the “heads” side, George Washington’s profile, and all
        the same features as all quarters have. The “tails” side of each quarter
        have unique images for each state. Each year 5 state coins were produced.
    </p>
</div>

<div class="container">


    <div class="text-center mb-2">
        <h3>1999</h3>
    </div>
    <div class="text-center mb-5">

        <img height="200px" width="200px" height="200px" width="200px" src="~/Content/images/de.jpg" alt="Deleware coin">

        <img height="200px" width="200px" height="200px" width="200px" src="~/Content/images/pa.jpg" alt="Pennsylvania coin">

        <img height="200px" width="200px" height="200px" width="200px" src="~/Content/images/nj.jpg" alt="New Jersey coin">

        <img height="200px" width="200px" height="200px" width="200px" src="~/Content/images/ga.jpg" alt="Georgia coin">

        <img height="200px" width="200px" height="200px" width="200px" src="~/Content/images/ct.jpg" alt="Connecticut coin">

    </div>

    <div class="text-center mb-5">
        <h3>2000</h3>
    </div>
    <div class="text-center">
        <img height="200px" width="200px" src="~/Content/images/ma.jpg" alt="Massachesetts coin">
        <img height="200px" width="200px" src="~/Content/images/md.jpg" alt="Maryland coin">
        <img height="200px" width="200px" src="~/Content/images/sc.jpg" alt="South Carolina coin">
        <img height="200px" width="200px" src="~/Content/images/nh.jpg" alt="New Hampshire coin">
        <img height="200px" width="200px" src="~/Content/images/va.jpg" alt="Virginia coin">
    </div>

    <div class="text-center mb-5">
        <h3>2001</h3>
    </div>

    <div class="text-center">
        <img height="200px" width="200px" src="~/Content/images/ny.jpg" alt="New York coin">
        <img height="200px" width="200px" src="~/Content/images/nc.jpg" alt="North Carolina coin">
        <img height="200px" width="200px" src="~/Content/images/ri.jpg" alt="Rhode Island coin">
        <img height="200px" width="200px" src="~/Content/images/vt.jpg" alt="Vermont coin">
        <img height="200px" width="200px" src="~/Content/images/ky.jpg" alt="Kentucky coin">
    </div>

    <div class="text-center mb-5">
        <h3>2002</h3>
    </div>
    <div class="text-center">
        <img height="200px" width="200px" src="~/Content/images/tn.jpg" alt="Tennessee coin">
        <img height="200px" width="200px" src="~/Content/images/oh.jpg" alt="Ohio coin">
        <img height="200px" width="200px" src="~/Content/images/la.jpg" alt="Louisiana coin">
        <img height="200px" width="200px" src="~/Content/images/in.jpg" alt="Indiana coin">
        <img height="200px" width="200px" src="~/Content/images/ms.jpg" alt="Mississippi coin">
    </div>

    <div class="text-center mb-5">
        <h3>2003</h3>
    </div>
    <div class="text-center">
        <img height="200px" width="200px" src="~/Content/images/il.jpg" alt="Illinois coin">
        <img height="200px" width="200px" src="~/Content/images/al.jpg" alt="Alabama coin">
        <img height="200px" width="200px" src="~/Content/images/me.jpg" alt="Maine coin">
        <img height="200px" width="200px" src="~/Content/images/mo.jpg" alt="Missouri coin">
        <img height="200px" width="200px" src="~/Content/images/ar.jpg" alt="Arkansas coin">
    </div>

    <div class="text-center mb-5">
        <h3>2004</h3>
    </div>
    <div class="text-center">
        <img height="200px" width="200px" src="~/Content/images/mi.jpg" alt="Michigan coin" />
        <img height="200px" width="200px" src="~/Content/images/fl.jpg" alt="Florida coin" />
        <img height="200px" width="200px" src="~/Content/images/tx.jpg" alt="Texas coin" />
        <img height="200px" width="200px" src="~/Content/images/ia.jpg" alt="Iowa coin" />
        <img height="200px" width="200px" src="~/Content/images/wi.jpg" alt="Wisconsin coin" />
    </div>

    <div class="text-center mb-5">
        <h3>2005</h3>
    </div>
    <div class="text-center">
        <img height="200px" width="200px" src="~/Content/images/ca.jpg" alt="California coin" />
        <img height="200px" width="200px" src="~/Content/images/mn.jpg" alt="Minnesota coin" />
        <img height="200px" width="200px" src="~/Content/images/or.jpg" alt="Oregon coin" />
        <img height="200px" width="200px" src="~/Content/images/ks.jpg" alt="Kansas coin" />
        <img height="200px" width="200px" src="~/Content/images/wv.jpg" alt="West Virginia coin" />
    </div>


    <div class="text-center mb-5">
                <h3>2006</h3>
    </div>
    <div class="text-center">
        <img height="200px" width="200px" src="~/Content/images/nv.jpg" alt="Nevada coin" />
        <img height="200px" width="200px" src="~/Content/images/ne.jpg" alt="Nebraska coin" />
        <img height="200px" width="200px" src="~/Content/images/co.jpg" alt="Colorado coin" />
        <img height="200px" width="200px" src="~/Content/images/nd.jpg" alt="North Dakota coin" />
        <img height="200px" width="200px" src="~/Content/images/sd.jpg" alt="South Dakota coin" />
    </div>

    <div class="text-center mb-5">
                <h3>2007</h3>
    </div>
    <div class="text-center">
        <img height="200px" width="200px" src="~/Content/images/mt.jpg" alt="Montana coin" />
        <img height="200px" width="200px" src="~/Content/images/wa.jpg" alt="Washington coin" />
        <img height="200px" width="200px" src="~/Content/images/id.jpg" alt="Idaho coin" />
        <img height="200px" width="200px" src="~/Content/images/wy.jpg" alt="Wyoming coin" />
        <img height="200px" width="200px" src="~/Content/images/ut.jpg" alt="Utah coin" />
    </div>
    <div class="text-center mb-5">
                <h3>2008</h3>
    </div>
    <div class="text-center">
        <img height="200px" width="200px" src="~/Content/images/ok.jpg" alt="Oklahoma coin" />
        <img height="200px" width="200px" src="~/Content/images/nm.jpg" alt="New Mexico coin" />
        <img height="200px" width="200px" src="~/Content/images/az.jpg" alt="Arizona coin" />
        <img height="200px" width="200px" src="~/Content/images/al.jpg" alt="Alaska coin" />
        <img height="200px" width="200px" src="~/Content/images/hi.jpg" alt="Hawaii coin" />
    </div>

 </div>

