
@{
    ViewBag.Title = "StateCoinProgramInfo";
}

<h2>State Coin Program Info</h2>

<div class="mainContent">
    <p>
        The state quarter project began in 1999 and when implemented 
        planned to release coins honoring each state over a 10-year period. 
        Each state’s coins were minted over a 10-week period and will not be 
        produced again, making them collector’s items. The coins feature the 
        same design on the “heads” side, George Washington’s profile, and all 
        the same features as all quarters have. The “tails” side of each quarter 
        have unique images for each state. Each year 5 state coins were produced.
    </p>
</div>

<div class="aside">
    <p>
        <b>1999:</b>
        <ul>
            <li>Deleware</li>
            <li>Pennsylvania</li>
            <li>New Jersey</li>
            <li>Georgia</li>
            <li>Connecticut</li>
        </ul>
        <br />
        <b>2000:</b>
        <ul>
            <li>Massachesetts</li>
            <li>Maryland</li>
            <li>South Carolina</li>
            <li>New Hampshire</li>
            <li>Virginia</li>
        </ul>
        <b>2001:</b>
        <br />
        <ul>
            <li>New York</li>
            <li>North Carolina</li>
            <li>Rhode Island</li>
            <li>Vermont</li>
            <li>Kentucky</li>
        </ul>
        <br />
        <b>2002:</b>
        <ul>
            <li>Tennessee</li>
            <li>Ohio</li>
            <li>Louisiana</li>
            <li>Indiana</li>
            <li>Mississippi</li>
        </ul>
        <br />
        <b>2003:</b>
        <ul>
            <li>Illinois</li>
            <li>Alabama</li>
            <li>Maine</li>
            <li>Missouri</li>
            <li>Arkansas</li>
        </ul>
        <br />
        <b>2004:</b>
        <ul>
            <li>Michigan</li>
            <li>Florida</li>
            <li>Texas</li>
            <li>Iowa</li>
            <li>Wisconsin</li>
        </ul>
        <br />
        <b>2005:</b>
        <ul>
            <li>California</li>
            <li>Minnesota</li>
            <li>Oregon</li>
            <li>Kansas</li>
            <li>West Virginia</li>
        </ul>
        <br />
        <b>2006:</b>
        <ul>
            <li>Nevada</li>
            <li>Nebraska</li>
            <li>Colorado</li>
            <li>North Dakota</li>
            <li>South Dakota</li>
        </ul>
        <br />
        <b>2007:</b>
        <ul>
            <li>Montana</li>
            <li>Washington</li>
            <li>Idaho</li>
            <li>Wyoming</li>
            <li>Utah</li>
        </ul>
        <br />
        <b>2008:</b>
        <ul>
            <li>Oklahoma</li>
            <li>New Mexico</li>
            <li>Arizona</li>
            <li>Alaska</li>
            <li>Hawaii</li>
        </ul>
    </p>
</div>

