@{
    ViewBag.Title = "SupportTheTroops";
}


<div class="jumbotron text-center">

    <h1 class="display-1">Support the Troops</h1>
    <h3>Would you like to support our troops?</h3>
    <p>You can! Just follow this link for more information</p>
    
</div>

<div class="container text-center">

    
        <a  target="blank" href="https://www.supportourtroops.org"><img class="mx-auto d-block img-fluid" src="https://www.supportourtroops.org/images/link-to-us/support-our-troops-org-color-wbg-600.gif" alt="Support Our Troops, America's Military Charity" style="margin: 5px;" title="SupportOurTroops.Org America's Military Charity" /></a>
    
</div>