@{
    ViewBag.Title = "SupportTheTroops";
}


<div class="jumbotron text-center">
    <h1 class="display-1">Support the Troops</h1>
</div>

<div class="container">

    <h3>Would you like to support our troops?</h3>
    <p>You can! Just follow this link for more information</p>

    <h3><a href="https://www.supportourtroops.org/" class="text-info" target="_blank">Support the Troops</a></h3>
</div>